h1.flashy  {
  color: red;
  text-align: center;
  font-size: 60px;
  margin: auto;


}
p {
  text-align: center;
  color: tan;
  font-size: 30px;
  margin: auto;
  padding: 210px;

}
body {
  background-image: url("https://i.mycdn.me/image?id=867644421331&t=37&plc=WEB&tkn=*HXRYv_eEPJ9zPS4_8WsW1YMC9KY")
}
